JOB fastqc fastqc1.submit
VARS fastqc RUN="${run}"

JOB trim trimmomatic.submit
VARS trim RUN="${run}"

JOB fastqc2 fastqc2.submit
VARS fastqc2 RUN="${run}"

JOB bwa	bwaMEM.submit
VARS bwa RUN="${run}"
VARS bwa REF="${ref}"

JOB view samtools_view.submit
VARS view RUN="${run}"
SCRIPT POST view /bin/rm /staging/groups/pepperell_group/Mtb_RNAseq/Results/${run}.sam

JOB sort samtools_sort.submit
VARS sort RUN="${run}"
SCRIPT POST sort /bin/rm /staging/groups/pepperell_group/Mtb_RNAseq/Results/${run}.bam

JOB qc qualimapQC.submit
VARS qc RUN="${run}"
VARS qc ANNOT_GTF="${annot_gtf}"

JOB count htseq.submit
VARS count RUN="${run}"
VARS count ANNOT_GTF="${annot_gtf}"

JOB dummy dummy.submit
SCRIPT POST dummy /bin/rm /staging/groups/pepperell_group/Mtb_RNAseq/Results/${run}.sort.bam

PARENT fastqc CHILD trim
PARENT trim CHILD fastqc2
PARENT fastqc2 CHILD bwa
PARENT bwa CHILD view
PARENT view CHILD sort
PARENT sort CHILD qc count
PARENT qc count CHILD dummy
